.margin2{
    margin: 2%;
}

.contentBox{
    background-color: lightgrey;
    width: 95%;
    padding: 50px;
    margin: 20px;
}

.deleteButton {
    background-color: white;
    color: black;
    border: 2px solid red;
    border-radius: 4px;
    float:right;
    

  }
  
.line {
    border-top: 3px solid rgb(0, 117, 74);
    padding: 0px 22px;
    width: 100px;
    margin: -10px 0px 20px 20px;
}