.NavbarItems{
    /* background-color: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252, 100%)); */
    background-color: #b3d1b3;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2 rem;
}

.navbar-logo{
    color: white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.rightButtons{
    margin-left: auto;
    margin-right: 25px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;;

}