.drinkImg{
    float: left;
    max-width: 80%;
    max-height: 80%;
    margin-left: 50px;
    margin-top: 50px;
}

.floatRight{
    float:right;
    margin-left: 100px;
}

.space100{
    margin-left: 100px;
}

.reviewRectangle{
    width:500px;
    height:100px;
    border:1px solid #000;
    margin-left: 100px;
}