.drinkImg {
  /* float: left; */
  text-align: left;
  max-width: 100%;
  max-height: 100%;
  margin-left: 50px;
  /* margin-top: 50px; */
}

.centerHeader {
  text-align: center;
}

.floatRight {
  float: right;
  margin-left: 100px;
}

.space100 {
  margin-left: 100px;
}

.reviewRectangle {
  width: 70;
  height: auto;
  border-bottom: 1px solid #919191;
  padding-bottom: 40px !important;
  /* margin-left: 100px; */
  margin-bottom: 30px;

  font-family: Arial;
  font-weight: bold;
}


.margin20{
  margin-left: 20px;
}

.mousepointer {
  cursor: pointer;
}

.left {
  width: 20%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}
